In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('homework') \
    .getOrCreate()

# Set the number of executors
# conf.set("spark.executor.instances", 3)
# conf.set("spark.executor.cores", 2)
# conf.set("spark.sql.shuffle.partitions", 6)

# spark = SparkSession.builder.config(conf=conf).getOrCreate()
# spark.sparkContext.getConf().getAll()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/02/29 12:56:11 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/02/29 12:56:12 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
#!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-10.csv.gz

In [4]:
!wc -l fhv_tripdata_2019-10.csv

 1897494 fhv_tripdata_2019-10.csv

In [5]:
df = spark.read \
    .option("header", "true") \
    .csv('fhv_tripdata_2019-10.csv')

In [6]:
df.head(n=5)

[Row(dispatching_base_num='B00009', pickup_datetime='2019-10-01 00:23:00', dropOff_datetime='2019-10-01 00:35:00', PUlocationID='264', DOlocationID='264', SR_Flag=None, Affiliated_base_number='B00009'),
 Row(dispatching_base_num='B00013', pickup_datetime='2019-10-01 00:11:29', dropOff_datetime='2019-10-01 00:13:22', PUlocationID='264', DOlocationID='264', SR_Flag=None, Affiliated_base_number='B00013'),
 Row(dispatching_base_num='B00014', pickup_datetime='2019-10-01 00:11:43', dropOff_datetime='2019-10-01 00:37:20', PUlocationID='264', DOlocationID='264', SR_Flag=None, Affiliated_base_number='B00014'),
 Row(dispatching_base_num='B00014', pickup_datetime='2019-10-01 00:56:29', dropOff_datetime='2019-10-01 00:57:47', PUlocationID='264', DOlocationID='264', SR_Flag=None, Affiliated_base_number='B00014'),
 Row(dispatching_base_num='B00014', pickup_datetime='2019-10-01 00:23:09', dropOff_datetime='2019-10-01 00:28:27', PUlocationID='264', DOlocationID='264', SR_Flag=None, Affiliated_base_number='B00014')]

In [7]:
df.schema

StructType([StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropOff_datetime', StringType(), True), StructField('PUlocationID', StringType(), True), StructField('DOlocationID', StringType(), True), StructField('SR_Flag', StringType(), True), StructField('Affiliated_base_number', StringType(), True)])

In [8]:
from pyspark.sql import types

In [9]:
schema = types.StructType([types.StructField('dispatching_base_num', types.StringType(), True),
types.StructField('pickup_datetime', types.TimestampType(), True),
types.StructField('dropOff_datetime', types.TimestampType(), True),
types.StructField('PUlocationID', types.IntegerType(), True),
types.StructField('DOlocationID', types.IntegerType(), True),
types.StructField('SR_Flag', types.StringType(), True),
types.StructField('Affiliated_base_number', types.StringType(), True)])

In [10]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('fhv_tripdata_2019-10.csv')

In [11]:
df.head(10)

[Row(dispatching_base_num='B00009', pickup_datetime=datetime.datetime(2019, 10, 1, 0, 23), dropOff_datetime=datetime.datetime(2019, 10, 1, 0, 35), PUlocationID=264, DOlocationID=264, SR_Flag=None, Affiliated_base_number='B00009'),
 Row(dispatching_base_num='B00013', pickup_datetime=datetime.datetime(2019, 10, 1, 0, 11, 29), dropOff_datetime=datetime.datetime(2019, 10, 1, 0, 13, 22), PUlocationID=264, DOlocationID=264, SR_Flag=None, Affiliated_base_number='B00013'),
 Row(dispatching_base_num='B00014', pickup_datetime=datetime.datetime(2019, 10, 1, 0, 11, 43), dropOff_datetime=datetime.datetime(2019, 10, 1, 0, 37, 20), PUlocationID=264, DOlocationID=264, SR_Flag=None, Affiliated_base_number='B00014'),
 Row(dispatching_base_num='B00014', pickup_datetime=datetime.datetime(2019, 10, 1, 0, 56, 29), dropOff_datetime=datetime.datetime(2019, 10, 1, 0, 57, 47), PUlocationID=264, DOlocationID=264, SR_Flag=None, Affiliated_base_number='B00014'),
 Row(dispatching_base_num='B00014', pickup_datetime=datetime.datetime(2019, 10, 1, 0, 23, 9), dropOff_datetime=datetime.datetime(2019, 10, 1, 0, 28, 27), PUlocationID=264, DOlocationID=264, SR_Flag=None, Affiliated_base_number='B00014'),
 Row(dispatching_base_num='B00021         ', pickup_datetime=datetime.datetime(2019, 10, 1, 0, 0, 48), dropOff_datetime=datetime.datetime(2019, 10, 1, 0, 7, 12), PUlocationID=129, DOlocationID=129, SR_Flag=None, Affiliated_base_number='B00021         '),
 Row(dispatching_base_num='B00021         ', pickup_datetime=datetime.datetime(2019, 10, 1, 0, 47, 23), dropOff_datetime=datetime.datetime(2019, 10, 1, 0, 53, 25), PUlocationID=57, DOlocationID=57, SR_Flag=None, Affiliated_base_number='B00021         '),
 Row(dispatching_base_num='B00021         ', pickup_datetime=datetime.datetime(2019, 10, 1, 0, 10, 6), dropOff_datetime=datetime.datetime(2019, 10, 1, 0, 19, 50), PUlocationID=173, DOlocationID=173, SR_Flag=None, Affiliated_base_number='B00021         '),
 Row(dispatching_base_num='B00021         ', pickup_datetime=datetime.datetime(2019, 10, 1, 0, 51, 37), dropOff_datetime=datetime.datetime(2019, 10, 1, 1, 6, 14), PUlocationID=226, DOlocationID=226, SR_Flag=None, Affiliated_base_number='B00021         '),
 Row(dispatching_base_num='B00021         ', pickup_datetime=datetime.datetime(2019, 10, 1, 0, 28, 23), dropOff_datetime=datetime.datetime(2019, 10, 1, 0, 34, 33), PUlocationID=56, DOlocationID=56, SR_Flag=None, Affiliated_base_number='B00021         ')]

In [12]:
# Set the number of shuffle partitions
#spark.conf.set("spark.sql.shuffle.partitions", 6)
df = df.repartition(6)
df = df.coalesce(6)

In [13]:
# df.write.parquet('fhv/2019/10', mode='overwrite')

In [14]:
from pyspark.sql import functions as F

In [15]:
df.registerTempTable('trips_data')

/opt/homebrew/Cellar/apache-spark/3.5.0/libexec/python/pyspark/sql/dataframe.py:329: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [16]:
spark.sql("""
SELECT * from trips_data
LIMIT 1
""").show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B03016|2019-10-03 21:44:14|2019-10-03 21:57:46|         264|         174|   NULL|                B03016|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+

In [21]:
#How many taxi trips were there on the 15th of October?
# Consider only trips that started on the 15th of October.

spark.sql("""
SELECT 
    count(1)
FROM 
    trips_data
WHERE
    to_date(pickup_datetime) = "2019-10-15"
""").show()

+--------+
|count(1)|
+--------+
|   62610|
+--------+

In [27]:
# What is the length of the longest trip in the dataset in hours?
# Figure out how to get unix timestamp
# https://sparkbyexamples.com/apache-hive/hive-date-and-timestamp-functions-examples/

spark.sql(
    """
    select unix_timestamp("2019-10-03 21:44:14") 
    """
).show()

+--------------------------------------------------------+
|unix_timestamp(2019-10-03 21:44:14, yyyy-MM-dd HH:mm:ss)|
+--------------------------------------------------------+
|                                              1570153454|
+--------------------------------------------------------+

In [28]:
# this will give a difference in seconds between pickup and dropoff
# divide by 3600 to get hours 

spark.sql("""
SELECT 
    max(
        unix_timestamp(dropOff_datetime) - unix_timestamp(pickup_datetime)
    ) / 3600
FROM 
    trips_data
WHERE
""").show()

+----------------------------------------------------------------------------------------------------------------------------+
|(max((unix_timestamp(dropOff_datetime, yyyy-MM-dd HH:mm:ss) - unix_timestamp(pickup_datetime, yyyy-MM-dd HH:mm:ss))) / 3600)|
+----------------------------------------------------------------------------------------------------------------------------+
|                                                                                                                    631152.5|
+----------------------------------------------------------------------------------------------------------------------------+

In [36]:
# load zone lookup into temp table 
# zone lookup: https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

# download csv 
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

--2024-02-29 13:48:47--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 140.82.114.3
Connecting to github.com (github.com)|140.82.114.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240229%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240229T184848Z&X-Amz-Expires=300&X-Amz-Signature=ba9632b6c8d9fb60764fac054e755f9ca59f748e8b2222cbff4dc99be2e1c806&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2024-02-29 13:48:48--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240229%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240229T184848Z&X-Amz-Expires=300&X-Amz-Signature=ba9632b6c8d9fb60764fac054e755f9ca59f748e8b2222cbff4dc99be2e1c806&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.111.133, 185.199.109.133, 185.199.108.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi_zone_lookup.csv’

taxi_zone_lookup.cs 100%[===================>]  12.03K  --.-KB/s    in 0.001s

2024-02-29 13:48:48 (17.7 MB/s) - ‘taxi_zone_lookup.csv’ saved [12322/12322]

In [38]:
# read into dataframe
zone_lookup = spark.read \
    .option("header", "true") \
    .csv('taxi_zone_lookup.csv')

zone_lookup.columns

['LocationID', 'Borough', 'Zone', 'service_zone']

In [44]:
# temp table 
zone_lookup.registerTempTable('zone_lookup')

/opt/homebrew/Cellar/apache-spark/3.5.0/libexec/python/pyspark/sql/dataframe.py:329: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [50]:
# Using the zone lookup data and the FHV October 2019 data, 
# what is the name of the LEAST frequent pickup location Zone?

# column from trips_data : PUlocationID
# column from zone_lookup : LocationID
spark.sql("""
SELECT 
    count(1),
    zone_lookup.Zone 
FROM 
    trips_data
LEFT JOIN 
    zone_lookup
ON
    trips_data.PUlocationID = zone_lookup.LocationID 
GROUP BY 
    zone_lookup.Zone
ORDER BY 
    count(1) ASC
""").show()

+--------+--------------------+
|count(1)|                Zone|
+--------+--------------------+
|       1|         Jamaica Bay|
|       2|Governor's Island...|
|       5| Green-Wood Cemetery|
|       8|       Broad Channel|
|      14|     Highbridge Park|
|      15|        Battery Park|
|      23|Saint Michaels Ce...|
|      25|Breezy Point/Fort...|
|      26|Marine Park/Floyd...|
|      29|        Astoria Park|
|      39|    Inwood Hill Park|
|      47|       Willets Point|
|      53|Forest Park/Highl...|
|      57|  Brooklyn Navy Yard|
|      62|        Crotona Park|
|      77|        Country Club|
|      89|     Freshkills Park|
|      98|       Prospect Park|
|     105|     Columbia Street|
|     110|  South Williamsburg|
+--------+--------------------+
only showing top 20 rows